// .koso {
//     @include button($textSize:3rem);
//     @include animar();

//     &:hover {
//         background-color: #fff;
//         color: #adf;
//     }
// }

.cards {
    @include gridContainer();

    &__content {
        @include gridCard();
        @include sombra();


        &--img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        &--title {
            font-size: 3.6rem;
            text-align: center;
        }

        & p {
            text-align: justify;
            padding: 0 2rem 2rem 2rem;
        }
    }

}