///MAPS: SIMILAR  A UN OBJETO LITERAL, PARA ALMACENAR DATOS EN EL DEBE SER POR MEDIO DE LLAVE/VALOR

$color:(borde:rgb(151, 146, 146),
    secondary:#355,
    textColor: rgba(130, 143, 130, 0.933),
    negro:#000);


//LISTS: ASI SE LES NOMBRAN A LAS VARIABLES QUE ALMACENAN MAS DE  2 VALORES
// $koso: 1px solid rgba(0, 0, 0, .5);

//ASI SE INVOCAN LOS VALORES DE UN MAP  CON LA FUNCION MAP-GET() QUE RECIBE DOS PARAMETROS EL PRIMERO ES EL MAP EL SEGUNDO ES LA LLAVE A LA QUE SE HARA REFERENCIA
// .koso {
//     color: map-get($color, main);
// }